:root {
    background-color: #F2FFE9;
    font-family: 'Poppins', sans-serif;
}

header {
    border-bottom: blue;
    border: 20px;
    background-color: #A6CF98;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#navBar h1 {
    display: flex;
    font-size: 40px;
    padding-left: 20px;
}


#navigation {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

#navigation a {
    text-decoration: none;
}

/*The photo and text will be aligned within a grid*/
#pageGrid {
    margin-top: 10px;
    display: grid;
    min-height: 500px;
    grid-template-rows: 5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "photoOfMe aboutMe"
    "skills work";
}

/*This is the sourcing of the photo and assigning it as the space within the grid*/
#photoOfMe {
    grid-area: photoOfMe;
    background-image: url("IMG_5588.jpg")
}

/*This is the photo's position within it's box*/
.positioningPhotoOfMe {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
}


#aboutMe {
    grid-area: aboutMe;
    margin-left: 20px;
}

#skills {
    display: flexbox;
}

#skills h3 {
    text-align: center;
    font-style: italic;
}

#skillsList {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin: 5px;

}

#skillsList img {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#skillsList p {
    margin-left: 15px;
}

#work {
    grid-area: work;
    margin-left: 20px;
}

#workGrid {
    margin: 0px;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project1 project1 project1"
    "project2 project3 project4";
}

#project1 {
    grid-area: project1;
    background-image: url("PROJECT1THUMBNAIL.png");
}

#project1 a {
    text-decoration: none;
}

#project2 {
    grid-area: project2;
    background-image: url("COMING\ SOON.png");
}

#project3 {
    grid-area: project3;
    background-image: url("COMING\ SOON.png");
}

#project4 {
    grid-area: project4;
    background-image: url("COMING\ SOON.png");
}

.workGridDesign {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

.workHeading {
    background-color: rgba(85,124,85,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    border-bottom: 5px solid #A6CF98;
}

.contactMe {
    background-color: #A6CF98;
}

.contactMeHeading {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

#contactMeSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#contactMeIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


#contactMeIcons img {
    object-fit: contain;
    justify-content: space-evenly;
    width: 10%;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    
}
#contactMeText {
    display: flex;
    flex-direction: row;
}
